/********************* TAG SELECTORS ***********************/
body{
  background-color: #E5D0CC;
  margin: 0;
}

h1{
  margin: 0;
}


/********************* CLASS SELECTORS ***********************/

.top-container{
  background-color: #bfacb5;
  margin-top: 0;
  height: 200px;
  width: 200px;
  padding: 20px;
}

.mid-container{
  background-color: #ff0000;
  height: 200px;
  border: 20px;
  width: 100px;
}

.bottom-container{
  background-color: #00ff00;
  border: 10px;
  height: 100px;
  width: 100px;
}

/********************* ID SELECTORS ***********************/
